@page
@model BovinoRemoto.App.Frontend.Pages.AccederDueñoModel
@{
}

<div class="text-center bg-dark bg-opacity-25">
    <h1>Iniciando sesión Dueño</h1>
</div>

<div class="col-6 offset-3">
    <form method="post">
        <table class="table">
            <br><br>
            <tr>
                <td><label class="form-label">Num Identificacion</label></td>
            </tr>
            <tr>
                <td><input asp-for="Dueño.Num_Identificacion" class="form-control" type="text" placeholder="Numero de Identificación"></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="nav-item btn btn-success"><i class="fa-solid fa-user-lock"></i> Ingresar</button>
    </form>
</div>