@page
@model BovinoRemoto.App.Frontend.Pages.AccederDueñoModel
@{
}
<div class="container text-center bg-dark bg-opacity-25">
    <p style="font-size: x-large;">Iniciando sesión Dueño</p>
</div>

<form method="get" action="./PrincipalDueño">
    <div class="form-group">
        <label asp-for="Dueño.Num_Identificacion">Num Identificacion</label>
        <input asp-for="Dueño.Num_Identificacion" name="N_Identificacion" class="form-control" style="width: 500px;" type="text"
            placeholder="Numero de identificación">
    </div>

    <p></p>

    <button type="submit" value="Ingresar" class="nav-item btn btn-primary">Ingresar</button>
</form>