@page
@model BovinoRemoto.App.Frontend.Pages.NuevoDueñoModel
@{
}
<link rel="stylesheet" href="~/css/Dueño.css" asp-append-version="true" />
<div class="text-center bg-dark bg-opacity-25">
    <h1>Ingresando un nuevo Dueño</h1>
</div>

<div class="col-10 offset-1">
    <form method="post">
        <table class="table">
            <br><br>
            <tr>
                <div>
                    <td><label asp-for="Dueño.Num_Identificacion" class="form-label">Numero identificación</label></td>
                    <td><input asp-for="Dueño.Num_Identificacion" class="form-control" type="text"
                            placeholder="Numero de identificación"></td>
                    <td><span asp-validation-for="Dueño.Id" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Dueño.Nombres" class="form-label">Nombres</label></td>
                    <td><input asp-for="Dueño.Nombres" class=" form-control" type="text" placeholder="Nombres"></td>
                    <td><span asp-validation-for="Dueño.Nombres" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Dueño.Apellidos" class="form-label">Apellidos</label></td>
                    <td><input asp-for="Dueño.Apellidos" class="form-control" type="text" placeholder="Apellidos"></td>
                    <td><span asp-validation-for="Dueño.Apellidos" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Dueño.Direccion" class="form-label">Dirección</label></td>
                    <td><input asp-for="Dueño.Direccion" class="form-control" type="text" placeholder="Dirección"></td>
                    <td><span asp-validation-for="Dueño.Direccion" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Dueño.Telefono" class="form-label">Teléfono</label></td>
                    <td><input asp-for="Dueño.Telefono" class="form-control" type="text"
                            placeholder="Numero telefónico">
                    </td>
                    <td><span asp-validation-for="Dueño.Telefono" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Dueño.Correo" class="form-label">Email</label>
                    </td>
                    <td><input asp-for="Dueño.Correo" class="form-control" type="email"
                            placeholder="Dirección de correo electrónico"></td>
                    <td><span asp-validation-for="Dueño.Correo" class="text-danger"></span></td>
                </div>
            </tr>
        </table>

        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-user-check"></i> Guardar</button>

    </form>
</div>