@page
@model BovinoRemoto.App.Frontend.Pages.PrincipalDueñoModel
@{
}
<div class="container text-center bg-dark bg-opacity-25">
    <p style="font-size: x-large;">Página Principal Dueño</p>

</div>

@if (Model.Dueño == null)
{
    <div class="container text-center">
        <p class="text-danger" style="font-size: x-large;">No se encontró registro con ese numero de identificacion</p>
        <a class="btn btn-warning" asp-area="" asp-page="../Index">Regresar</a>

    </div>


}
else
{
    <ul class="nav nav-pills justify-content-end">

        <li class="nav-item" style="margin: 10px;">
                    <a class="btn btn-primary" asp-area="" asp-page="../Bovino/ListarPorDueño" asp-route-iddueño=@Model.Dueño.Id>Administración Bovinos</a>
        </li>

        <li class="nav-item" style="margin: 10px; margin-left: 60px;">
            <a class="btn btn-primary" asp-page="/Index">Cerrar sesión</a>
        </li>

        

    </ul>

    <form>
        <div class="form-group">

            <label asp-for=@Model.Dueño.Num_Identificacion>Numero de Identificacion</label>
            <input class="form-control" style="width: 500px;" value=@Model.Dueño.Num_Identificacion readonly>
        </div>

        <div class="form-group">
            <label asp-for=@Model.Dueño.Nombres>Nombres</label>
            <input class="form-control" placeholder="Nombres" asp-for=@Model.Dueño.Nombres>
        </div>

        <div class="form-group">
            <label asp-for=@Model.Dueño.Apellidos>Apellidos</label>
            <input class="form-control" asp-for=@Model.Dueño.Apellidos placeholder="Apellidos">
        </div>

        <div class="form-group">
            <label asp-for=@Model.Dueño.Direccion>Dirección</label>
            <input class="form-control" asp-for=@Model.Dueño.Direccion placeholder="Dirección">
        </div>

        <div class="form-group">
            <label asp-for=@Model.Dueño.Telefono>Teléfono</label>
            <input class="form-control" asp-for=@Model.Dueño.Telefono placeholder="Numero telefónico">
        </div>

        <div class="form-group">
            <label asp-for=@Model.Dueño.Correo>Email</label>
            <input class="form-control" asp-for=@Model.Dueño.Correo placeholder="Correo Electronico">
        </div>

    </form>

}
