@page
@model BovinoRemoto.App.Frontend.Pages.PrincipalDueñoModel
@{
}
<link rel="stylesheet" href="~/css/Dueño.css" asp-append-version="true" />
<div class="text-center bg-dark bg-opacity-25">
    <h1>Página Principal Dueño</h1>
</div>

@if (Model.Dueño == null)
{
    <div class="container text-center">
        <p class="text-danger" style="font-size: x-large;">No se encontró registro con ese numero de identificacion</p>
        <p>@Model.Dueño.Id</p>
        <a class="btn btn-warning" asp-area="" asp-page="../Index"><i class="fas fa-duotone fa-circle-left"> Regresar</a>

    </div>
}
else
{
    <ul class="nav nav-pills justify-content-end">

        <li class="nav-item" style="margin: 10px;">
            <a class="btn btn-warning" asp-page="../Bovino/ListarPorDueño" asp-route-iddueño=@Model.Dueño.Id><i
                class="fa-solid fa-folder-closed"></i> Administración Bovinos</a>
        </li>

        <li class="nav-item" style="margin: 10px; margin-left: 20px;">
            <a class="btn btn-danger" asp-page="../Index">Cerrar sesión <i class="fas fa-solid fa-right-to-bracket"></i></a>
        </li>
    </ul>
    <div class="col-8 offset-md-2">
        <form method="post">
            <table class="table">
                <br><br>
                <input class="form-control" asp-for=Dueño.Id type="hidden">
                <tr>
                    <div>
                        <td><label class="form-label">Numero de Identificacion</label></td>
                        <td><input class="form-control" asp-for=Dueño.Num_Identificacion readonly></td>
                        <td></td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td><label class="form-label" asp-for=Dueño.Nombres></label></td>
                        <td><input class="form-control" placeholder="Nombres" asp-for=Dueño.Nombres></td>
                        <td></td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td><label class="form-label" asp-for=Dueño.Apellidos></label></td>
                        <td><input class="form-control" asp-for=Dueño.Apellidos placeholder="Apellidos"></td>
                        <td></td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td><label class="form-label" asp-for=Dueño.Direccion></label></td>
                        <td><input class="form-control" asp-for=Dueño.Direccion placeholder="Dirección"></td>
                        <td></td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td><label class="form-label" asp-for=Dueño.Telefono></label></td>
                        <td><input class="form-control" asp-for=Dueño.Telefono placeholder="Numero telefónico">
                        </td>
                        <td></td>
                    </div>
                </tr>
                <tr>
                    <div>
                        <td><label class="form-label" asp-for=Dueño.Correo></label></td>
                        <td><input class="form-control" asp-for=Dueño.Correo placeholder="Correo electrónico"></td>
                        <td></td>
                    </div>
                </tr>
            </table>
            <br><br>
            <button type="submit" class="btn btn-warning"><i class="fa-solid fa-user-check"></i> Guardar</button>
        </form>
    </div>
}
