@page
@model IndexModel
@{

}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div style="margin: 20px auto;">
    <ul class="nav">
        <li class="panel-rol">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title titulo-panel">Veterinarios</h5>
                    <img class="card-img-top icono-menu" src="~/img/Veterinario.jpg" alt="Imagen Veterinarios">
                    <div class="nav">
                        <a class="nav-item btn btn-warning boton-acceso" asp-area=""
                            asp-page="/Veterinary/NuevoVeterinario"><i class="fa-solid fa-user-plus"></i> Registrarme</a>
                        <a class="nav-item btn btn-success boton-acceso" asp-area=""
                            asp-page="/Veterinary/AccederVeterinario"><i class="fa-solid fa-user-lock"></i> Acceder</a>
                    </div>
                </div>
            </div>

        </li>
        <li class="panel-rol">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title titulo-panel">Dueños</h5>
                    <img class="card-img-top icono-menu" src="~/img/Dueño.jpg" alt="Imagen Dueños">
                    <div class="nav">
                        <a class="nav-item btn btn-warning boton-acceso" asp-area=""
                            asp-page="Owner/NuevoDueño"><i class="fa-solid fa-user-plus"></i> Registrarme</a>
                        <a class="nav-item btn btn-success boton-acceso" asp-area=""
                            asp-page="Owner/AccederDueño"><i class="fa-solid fa-user-lock"></i> Acceder</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>