@page
@model IndexModel
@{

}
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div style="width: 1000px; border: 3px solid black; margin: 20px auto;">
    <ul class="nav">
        <li class="panel-rol">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title titulo-panel">Veterinarios</h5>
                    <img class="card-img-top icono-menu" src="~/img/Veterinario.jpg" alt="Imagen Veterinarios">
                    <div class="nav">
                        <a class="nav-item btn btn-secondary boton-acceso" asp-area=""
                            asp-page="/Veterinary/NuevoVeterinario">Registrarme</a>
                        <a class="nav-item btn btn-secondary boton-acceso" asp-area=""
                            asp-page="/Veterinary/AccederVeterinario">Acceder</a>
                    </div>
                </div>
            </div>

        </li>
        <li class="panel-rol">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title titulo-panel">Dueños</h5>
                    <img class="card-img-top icono-menu" src="~/img/Dueño.jpg" alt="Imagen Dueños">
                    <div class="nav">
                        <a class="nav-item btn btn-secondary boton-acceso" asp-area=""
                            asp-page="Owner/NuevoDueño">Registrarme</a>
                        <a class="nav-item btn btn-secondary boton-acceso" asp-area=""
                            asp-page="Owner/AccederDueño">Acceder</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
