@page
@model BovinoRemoto.App.Frontend.Pages.Entidades.NewVeterinaryModel
@{
}
<div class="container text-center bg-dark bg-opacity-25">
    <p style="font-size: x-large;">Ingresando un nuevo Veterinario</p>
</div>

<form>
    <div class="form-group">

        <label for="Id">Id</label>
        <input class="form-control" style="width: 500px;" type="text" id="Id"
            placeholder="Ingrese numero de identificación">
    </div>

    <div class="form-group">
        <label for="nombres">Nombres</label>
        <input class="form-control" type="text" id="nombres" placeholder="Nombres">
    </div>

    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input class="form-control" type="text" id="apellidos" placeholder="Apellidos">
    </div>

    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input class="form-control" type="text" id="direccion" placeholder="Dirección">
    </div>

    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input class="form-control" type="text" id="telefono" placeholder="Numero telefónico">
    </div>

    <div class="form-group">
        <label for="tarjeta">Tarjeta</label>
        <input class="form-control" type="text" id="tarjeta" placeholder="Tarjeta profesional">
    </div>

    <p></p>
    
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>