@page
@model BovinoRemoto.App.Frontend.Pages.Acceso.MainOwnerModel
@{
}
<div class="container text-center bg-dark bg-opacity-25">
    <p style="font-size: x-large;">Página Principal Dueño</p>
</div>

<p></p>

<ul class="nav nav-pills justify-content-end">

    <li class="nav-item" style="margin: 10px;">
        <a class="btn btn-success" asp-area="" asp-page="/Registro/NewBovine">Registrar bovino</a>
    </li>
    <li class="nav-item" style="margin: 10px;">
        <a class="btn btn-success" asp-area="" asp-page="/Listar/ListByOwner">Listar mis bovinos</a>
    </li>

    <li class="nav-item" style="margin: 10px; margin-left: 60px;">
        <a class="btn btn-primary" asp-area="" asp-page="/Index">Cerrar sesión</a>
    </li>

</ul>

<p></p>

<form>
    <div class="form-group">

        <label for="Id">Id</label>
        <input class="form-control" style="width: 500px;" type="text" id="Id" placeholder="Numero de identificación">

        <label for="nombres">Nombres</label>
        <input class="form-control" type="text" id="nombres" placeholder="Nombres">

        <label for="apellidos">Apellidos</label>
        <input class="form-control" type="text" id="apellidos" placeholder="Apellidos">

        <label for="direccion">Dirección</label>
        <input class="form-control" type="text" id="direccion" placeholder="Dirección">

        <label for="telefono">Teléfono</label>
        <input class="form-control" type="text" id="telefono" placeholder="Numero telefónico">

        <label for="correo">Email</label>
        <input class="form-control" type="email" id="correo" placeholder="Dirección de correo electrónico">

</form>
