@page
@model BovinoRemoto.App.Frontend.Pages.Acceso.MainVeterinaryModel
@{
}
<div class="container text-center bg-dark bg-opacity-25">
    <p style="font-size: x-large;">Página Principal Dueño</p>
</div>

<p></p>

<ul class="nav nav-pills justify-content-end">

    <li class="nav-item" style="margin: 10px;">
        <a class="btn btn-success" asp-area="" asp-page="/Listar/ListByVeterinary">Listar bovinos a cargo</a>
    </li>
    
   <li class="nav-item" style="margin: 10px; margin-left: 60px;">
        <a class="btn btn-primary" asp-area="" asp-page="/Index">Cerrar sesión</a>
    </li>

</ul>

<p></p>

<form>
    <div class="form-group">

        <label for="Id">Id</label>
        <input class="form-control" style="width: 500px;" type="text" id="Id"
            placeholder="Ingrese numero de identificación">
    </div>

    <div class="form-group">
        <label for="nombres">Nombres</label>
        <input class="form-control" type="text" id="nombres" placeholder="Nombres">
    </div>

    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input class="form-control" type="text" id="apellidos" placeholder="Apellidos">
    </div>

    <div class="form-group">
        <label for="direccion">Dirección</label>
        <input class="form-control" type="text" id="direccion" placeholder="Dirección">
    </div>

    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input class="form-control" type="text" id="telefono" placeholder="Numero telefónico">
    </div>

    <div class="form-group">
        <label for="tarjeta">Tarjeta</label>
        <input class="form-control" type="text" id="tarjeta" placeholder="Tarjeta profesional">
    </div>

    <p></p>
    
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>