@page
@model BovinoRemoto.App.Frontend.Pages.EditBovinoModel
@{
}
<link rel="stylesheet" href="~/css/Bovino.css" asp-append-version="true" />
<div class="container text-center bg-dark bg-opacity-25 fw-bold">
    <h1 style="font-size: x-large;">Editando informacion bovino</h1>
</div>

<form class="col-5 offset-1" method="post">
    <table class="table">
        <div>
            <input type="hidden" asp-for="Bovino.Id">
        </div>
        <div></div>
            <input type="hidden" asp-for="Dueño.Id">
        </div>
        <tr>
            <div>
                <td><label asp-for=Bovino.Nombre></label></td>
                <td><input asp-for=Bovino.Nombre class="form-control" placeholder="Nombres"></td>
                <td><span asp-validation-for="Bovino.Nombre" class="text-danger"></span></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Color></label></td>
                <td><input asp-for=Bovino.Color class="form-control" placeholder="Color"></td>
                <td><span asp-validation-for="Bovino.Color" class="text-danger"></span></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Raza></label></td>
                <td><input asp-for=Bovino.Raza class="form-control" placeholder="Raza"></td>
                <td><span asp-validation-for="Bovino.Raza" class="text-danger"></span></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Especie></label></td>
                <td><input asp-for=Bovino.Especie class="form-control" placeholder="Especie"></td>
                <td><span asp-validation-for="Bovino.Especie" class="text-danger"></span></td>
            </div>
        </tr>
        <br>
    </table>

    <br>
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>

</form>