@page
@model BovinoRemoto.App.Frontend.Pages.InfoBovinoModel
@{
}
<div class="container text-center bg-dark bg-opacity-25 fw-bold">
    <p style="font-size: x-large;">Mostrando informacion bovino</p>
</div>

<form method="post" class="col-5 offset-1">

    <table class="table">
        <tr>
            <td><input type="hidden" asp-for=origen></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <div>
                <td><label>Dueño</label></td>
                <td><input class="form-control" value="@Model.Dueño.Nombres @Model.Dueño.Apellidos" readonly></td>
                <td><input type="hidden" asp-for=Dueño.Id></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><label asp-for=Bovino.Nombre></label></td>
                <td><input asp-for=Bovino.Nombre class="form-control" readonly></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Color></label></td>
                <td><input asp-for=Bovino.Color class="form-control" readonly></td>
            </div>
        </tr>
        <br>        
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Raza></label></td>
                <td><input asp-for=Bovino.Raza class="form-control" readonly></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><label asp-for=Bovino.Especie></label></td>
                <td><input asp-for=Bovino.Especie class="form-control" readonly></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label>Veterinario</label></td>
                <td><input class="form-control" value="@Model.Veterinario.Nombres @Model.Veterinario.Apellidos" readonly></td>
                <td><input type="hidden" asp-for=Veterinario.Id></td>
            </div>
        </tr>
    </table>
    <br>

    <button class="btn btn-warning" type="submit"><i class="fa-solid fa-arrow-left"></i> Regresar</button>

</form>