@page
@model BovinoRemoto.App.Frontend.Pages.InfoBovinoModel
@{
}
<div class="container text-center bg-dark bg-opacity-25 fw-bold">
    <p style="font-size: x-large;">Mostrando informacion bovino</p>
</div>

<form class="col-5 offset-1">
    <table class="table">
        <tr>
            <div>
                <td><label>Dueño</label></td>
                <td><input class="form-control" value="@Model.Dueño.Nombres @Model.Dueño.Apellidos" readonly></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><label asp-for=Bovino.Nombre></label></td>
                <td><input asp-for=Bovino.Nombre class="form-control" readonly></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Color></label></td>
                <td><input asp-for=Bovino.Color class="form-control" readonly></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Especie></label></td>
                <td><input asp-for=Bovino.Especie class="form-control" readonly></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label asp-for=Bovino.Raza></label></td>
                <td><input asp-for=Bovino.Raza class="form-control" readonly></td>
            </div>
        </tr>
        <br>
        <tr>
            <div>
                <td><label>Veterinario</label></td>
                <td><input class="form-control" readonly></td>
            </div>
        </tr>
    </table>
    <br>

    <a class="btn btn-warning" asp-page="./ListarPorDueño" asp-route-idDueño=@Model.Dueño.Id><i
            class="fa-solid fa-arrow-left"></i> Regresar</a>

</form>