@page
@model BovinoRemoto.App.Frontend.Pages.ListarPorDueñoModel
@{
}
<div class="container text-center bg-dark bg-opacity-25">
    <p style="font-size: x-large;">Administracion bovinos en posesión</p>
</div>

<p></p>

<ul class="nav nav-pills justify-content-end">
    <li class="nav-item" style="margin: 10px;">
        <a class="btn btn-secondary" asp-route-iddueño=@Model.Dueño.Id asp-page="./NuevoBovino">Nuevo</a>
    </li>
    <li class="nav-item" style="margin: 10px;">
        <a class="btn btn-secondary" asp-page="./PrincipalDueño">Regresar</a>
    </li>

</ul>

<p></p>
<p></p>

<table class="table">
    <th class="align-content-center" style="background-color:lightgreen;">INFO BOVINOS</th>

    <tr><br></tr>
    <tr><br></tr>
    <tr>
        <td>Nombre</td>
        <td>Especie</td>
    </tr>
    @foreach (var bovino in Model.Bovinos)
    {
        <td>@bovino.Nombre</td>
        <td>@bovino.Especie</td>
    }
</table>