@page
@model BovinoRemoto.App.Frontend.Pages.NuevoVeterinarioModel
@{
}
<div class="text-center bg-dark bg-opacity-25">
    <h1>Ingresando un nuevo Veterinario</h1>
</div>

<div class="col-10 offset-1">
    <form method="post">
        <table class="table">
            <br><br>
            <tr>
                <div>
                    <td><label asp-for="Veterinario.Num_Identificacion" class="form-label">Numero identificación</label></td>
                    <td><input asp-for="Veterinario.Num_Identificacion" class="form-control" type="text"
            placeholder="Numero de identificación"></td>
                    <td><span asp-validation-for="Veterinario.Num_Identificacion" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Veterinario.Nombres" class="form-label">Nombres</label></td>
                    <td><input asp-for="Veterinario.Nombres" class=" form-control" type="text" placeholder="Nombres"></td>
                    <td><span asp-validation-for="Veterinario.Nombres" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Veterinario.Apellidos" class="form-label">Apellidos</label></td>
                    <td><input asp-for="Veterinario.Apellidos" class="form-control" type="text" placeholder="Apellidos"></td>
                    <td><span asp-validation-for="Veterinario.Apellidos" class="text-danger"></span></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Veterinario.Direccion" class="form-label">Dirección</label></td>
                    <td><input asp-for="Veterinario.Direccion" class="form-control" type="text" placeholder="Dirección"></td>
                    <td><span asp-validation-for="Veterinario.Direccion" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Veterinario.Telefono" class="from-label">Teléfono</label></td>
                    <td><input asp-for="Veterinario.Telefono" class="form-control" type="text" placeholder="Numero telefónico"></td>
                    <td><span asp-validation-for="Veterinario.Telefono" class="text-danger"></span></td>
                </div>
            </tr>
            <tr>
                <div>
                    <td><label asp-for="Veterinario.TarjetaProfesional" class="from-label">Tarjeta</label></td>
                    <td><input asp-for="Veterinario.TarjetaProfesional" class="form-control" type="text" placeholder="Tarjeta profesional"></td>
                    <td><span asp-validation-for="Veterinario.TarjetaProfesional" class="text-danger"></span></td>
                </div>
            </tr>
        </table>

        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-user-check"></i> Guardar</button>

    </form>
</div>